# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Tests
**/*.test.ts
**/*.spec.ts
coverage
jest.config.*

# Documentation
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.docker*